In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SBIN_Data.csv')

In [3]:
# Todays date

from datetime import datetime,timedelta
#today = datetime.today().strftime('%d-%m-%Y')

today = datetime(2024, 1, 31).date()
time = '09:18:00'

In [4]:
# Print data of last five days 
rank_list = pd.DataFrame({'Date':[], 'Volume' : []})

for i in range(5):
    flag = True
    while flag == True:
        data = df[(df['Date'] == str(today.strftime("%d-%m-%Y"))) & (df['Time'] == time)]
        if data.empty:
            today -= timedelta(1)
            
        else:
            rank_list = pd.concat([rank_list, data[['Date','Volume']]], axis=0)
            today -= timedelta(1)
            flag = False

In [5]:
rank_list

            Date    Volume
7878  31-01-2024   40507.0
7503  30-01-2024   47259.0
7128  29-01-2024  101948.0
6753  25-01-2024  138405.0
6378  24-01-2024  140467.0

In [10]:
rank_list['Rank'] = rank_list['Volume'].rank(ascending=False)

In [11]:
rank_list

            Date    Volume  Rank
7878  31-01-2024   40507.0   5.0
7503  30-01-2024   47259.0   4.0
7128  29-01-2024  101948.0   3.0
6753  25-01-2024  138405.0   2.0
6378  24-01-2024  140467.0   1.0